& when not (@fullScreen) {
  padding-top: (@paddingTop * 1rem);
  padding-bottom: (@paddingBottom * 1rem);
}
overflow: hidden;
position: relative;
& when (@showDecor) {
  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 120%;
    height: 100%;
    z-index: 1;
    box-shadow: inset 0rem -50rem 100rem @shadow;
  }
}
.decor-wrap {
  position: absolute;
  top: 0;
  left: 5rem;
  width: 100%;
  height: 100%;
  border: 100px solid @decor;
  transform: rotate(-45deg);
}
& when (@bg-type = "color") {
  background-color: if(@transparentBg, transparent, @bg-value);
}
& when (@bg-type = 'image') {
  background-image: url(@bg-value);
}
.mbr-fallback-image.disabled {
  display: none;
}
.mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  & when (@bg-type = 'video') {
    background-image: url(@fallBackImage);
  }
}
& when (@fullWidth) {
  .container-fluid {
    padding: 0 28px;
    @media (max-width: 992px) {
      padding: 0 16px;
    }
    @media (max-width: 768px) {
      padding: 0 14px;
    }
  }
}
.container {
  @media (max-width: 992px) {
    padding: 0 16px;
  }
  @media (max-width: 768px) {
    padding: 0 14px;
  }
}
.row {
  position: relative;
  z-index: 1;
}
.desc-wrapper {
  .mbr-desc {
    margin-bottom: 32px;
  }
}
.title-wrapper {
  .mbr-section-title {
    margin-bottom: 0;
  }
}
.link-wrapper {
  &:hover, &:focus {
    .mbr-link {
      color: @active;
    }
  }
  .mbr-link {
    text-decoration: underline;
    margin-bottom: 0;
    transition: all 0.3s ease-in-out;
  }
}
.text-wrapper {
  margin-top: 180px;
  @media (max-width: 992px) {
    margin-top: 40px;
  }
  .text-wrap {
    .mbr-text {
      display: inline-block;
      width: 50%;
      margin-bottom: 22px;
      @media (max-width: 992px) {
        width: 100%;
      }
    }
  }
}
.mbr-desc {
  color: #000000;
  text-align: left;
}
.mbr-section-title {
  color: #01004c;
}
.mbr-link {
  color: #851523;
  text-align: left;
}
.mbr-text {
  color: #000000;
}
.mbr-section-title, .mbr-section-btn {
  color: #000000;
}
.mbr-text, .text-wrap {
  color: #000000;
}
